<p id="notice"><%= notice %></p>

<h1>Phonograms</h1>

<table>
  <thead>
    <tr>
      <th>Record ID</th>
      <th>User</th>
      <th>Attached?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @phonograms.each do |phonogram| %>
      <tr>
        <td><%= phonogram.id %></td>
        <td><%= phonogram&.user&.name %></td>
        <td><%= phonogram.source_sound.attached? %></td>
        <td><%= link_to 'Show', phonogram %></td>
        <td><%= link_to 'Edit', edit_phonogram_path(phonogram) %></td>
        <td><%= link_to 'Destroy', phonogram, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Phonogram', new_phonogram_path %>
